<!doctype html>
<html>
<head>
  <title>Ratings</title>
</head>

<body>
  Ratings
  <hr>
  <ul>
    {% for message in get_flashed_messages() %}
        <li>{{ message }}</li>
    {% endfor %}
  </ul>

    <form action="/login_form">
      <label>
        <input name="login" type="submit" id="submit2" value="LogIn">
      </label>
    </form>

    <form align="left" name="form1" method="post" action="/logout">
      <label>
        <input name="submit2" type="submit" id="submit2" value="LogOut">
      </label>
    </form>


{% block content %} put your content here {% endblock %}
</body>
</html>